<%- include ('partials/sidebar') %>

    <main class="dashboard-content">
        <h1>Accueil</h1>
        <div class="dashboard-cards">
            <a href="" class="dashboard-card">
                <div class="card-count">
                    <%= recipesCount %> <i class="fa-solid fa-file-lines"></i>
                </div>
                <div class="card-label">Recettes</div>
            </a>
            <a href="/backoffice/users" class="dashboard-card">
                <div class="card-count">
                    <%= usersCount %> <i class="fa-solid fa-users"></i>
                </div>
                <div class="card-label">Utilisateurs</div>
            </a>
            <a href="" class="dashboard-card">
                <div class="card-count">
                    <%= mediasCount %> <i class="fa-solid fa-film"></i>
                </div>
                <div class="card-label">Médias</div>
            </a>
        </div>
    </main>
    </div>
    </body>

    </html>