<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="dashboard-layout">

        <aside class="sidebar">
            <div class="admin-info">
                <img src="/static/avatar.png" alt="avatar">
                <p>admin</p>
            </div>
            <nav class="nav">
                <a class="active"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
                <a><i class="fa-solid fa-users"></i> Utilisateurs</a>
                <a><i class="fa-solid fa-file-lines"></i> Recettes</a>
                <a><i class="fa-solid fa-carrot"></i> Aliments</a>
                <a><i class="fa-solid fa-film"></i> Médias</a>
                <a><i class="fa-solid fa-table-cells"></i> Catégories de recettes</a>
            </nav>
        </aside>