<aside class="sidebar">
    <div class="admin-info">
        <img src="/static/avatar.png" alt="avatar">
        <p>admin</p>
    </div>
    <nav class="nav">
        <a class="active"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
        <a><i class="fa-solid fa-users"></i> Utilisateurs</a>
        <a><i class="fa-solid fa-file-lines"></i> Recettes</a>
        <a><i class="fa-solid fa-carrot"></i> Aliments</a>
        <a><i class="fa-solid fa-film"></i> Médias</a>
        <a><i class="fa-solid fa-table-cells"></i> Catégories de recettes</a>
    </nav>
</aside>